<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" charset="utf-8"></script>
<header class="header-div">
  <div class="logo-div">
    <img src="assets/Images/Logo/logoNoBG_header.png" alt="logo" class="logo-img" width="193px" height="56px">
  </div>
  <div class="navigation-div">
    <ul class="menu responsive">
      <li class="menu-item"><a routerLink="/homepage" routerLinkActive="active" ariaCurrentWhenActive="page">ACCUEIL</a></li>
      <li class="menu-item">
        <a href="#">MES PROJETS <i class="fas fa-angle-down"></i></a>
        <ul class="sub-menu">
          <li class="sub-item"><a href="#">PROJET 1</a></li>
          <li class="sub-item"><a href="#">PROJET 2</a></li>
          <li class="sub-item"><a href="#">PROJET 3</a></li>
        </ul>
      </li>
      <li class="menu-item"><a href="#">MES EXPERIENCES</a></li>
      <li class="menu-item">
        <a href="#">MES CERTIFICATIONS ET FORMATIONS <i class="fas fa-angle-down"></i></a>
        <ul class="sub-menu">
          <li class="sub-item more">
            <a class="sub-btn" href="#">CERTIFICATIONS <i class="fas fa-angle-right"></i></a>
            <ul class="more-menu">
              <li class="more-item"><a href="#">CERTIFICATION 1</a></li>
              <li class="more-item"><a href="#">CERTIFICATION 2</a></li>
              <li class="more-item"><a href="#">CERTIFICATION 3</a></li>
            </ul>
          </li>
          <li class="sub-item more"><a class="sub-btn" href="#">FORMATIONS <i class="fas fa-angle-right"></i></a>
            <ul class="more-menu">
              <li class="more-item"><a href="#">FORMATION 1</a></li>
              <li class="more-item"><a href="#">FORMATION 2</a></li>
              <li class="more-item"><a href="#">FORMATION 3</a></li>
            </ul>
          </li>
          <li class="sub-item"><a href="#">AUTRES</a></li>
        </ul>
      </li>
      <li class="menu-item">
        <a href="#">MES COMPETENCES <i class="fas fa-angle-down"></i></a>
        <ul class="sub-menu">
          <li class="sub-item"><a href="#">COMPETENCE 1</a></li>
          <li class="sub-item"><a href="#">COMPETENCE 2</a></li>
          <li class="sub-item"><a href="#">COMPETENCE 3</a></li>
        </ul>
      </li>
      <li class="menu-item">
        <a href="#">ME CONTACTER <i class="fas fa-angle-down"></i></a>
        <ul class="sub-menu">
          <li class="sub-item"><a href="#">Email</a></li>
          <li class="sub-item"><a href="#">Linkedin</a></li>
          <li class="sub-item"><a href="#">Discord</a></li>
        </ul>
      </li>
    </ul>
    <div class="connection-div responsive">
      <button>Se connecter</button>
    </div>
  </div>
</header>
