$backgroundColor: #1f2136;
$backgroundColor2: rgba(255, 255, 255, 0.1);
$textColor: #fff;
$hoverColor1: #c4b3ff;
$hoverColor2: #7b69bb;

*{
  position: relative;
}

app-header{
  z-index: 900;
}
app-login-component{
  z-index: 999;
}
app-home{
  z-index: 1;
  padding: 0;
  margin: 0;
}
