<div class="login-frame">
  <div class="login-form">
    <div class="login-header">
      <h1>Se connecter</h1>
    </div>
    <form class="login-body">
      <div class="form__group field">
        <input type="text" class="form__field" placeholder="Name" name="name" id='name' required />
        <label for="name" class="form__label">Email</label>
      </div>
      <div class="form__group field">
        <input type="password" class="form__field" placeholder="Name" name="name" id='name' required />
        <label for="name" class="form__label">Password</label>
      </div>
      <div class="login-buttons">
        <button type="submit" class="btn-primary">Connexion</button>
        <button type="button" class="btn-secondary">Créer un compte</button>
      </div>
    </form>
  </div>
</div>
