<div class="page-table">
  <div class="first row">
    <div class="introducing-div">
      <h1><span class="wobble">👋</span>Salut ! Moi c'est <span>William.</span></h1>
      <h3><span>analyste</span> et <span>developpeur Full-Stack</span> passionné cherchant des opportunités pour étendre son expérience</h3>
      <p>
        En cours de cursus Alternant pour devenir ingénieur, je souhaite étendre mes compétences et réaliser de nombreux projets
        afin de rassembler de l'expérience. Expérimenté dans le travail de d'équipes interfonctionnelles dans un environnement soumis
        à des contraintes de temps afin de mener à bien des projets dans les délais et le budjet impartis.
        <br><br>Je suis ouvert a <span>toute proposition</span> qu'elles soient <span>web</span> ou <span>desktop</span>.
      </p>
    </div>
    <div class="image-div">
      <img src="../../assets/Images/Homepage/Illustration/Illustration_gif_1.gif">
    </div>
  </div>
  <!-- <div class="second row">
    <div class="">

    </div>
  </div> -->
</div>
